{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
	
	<div class="container">
	<section class="page_404">
		<div class="container">
			<div class="row">	
			<div class="col-sm-12 ">
			<div class="col-sm-10 col-sm-offset-1  text-center">
			<div class="four_zero_four_bg">
				<h1 class="text-center ">404</h1>
			
			
			</div>
			
			<div class="contant_box_404">
			<h3 class="h2">
			Look like you're lost
			</h3>
			
			<p>The page you are looking for is not avaible!</p>
			
			{% if user.is_authenticated %}
			<a href="/accounts/profile" class="link_404">Go to Your profile</a>
			{% else %}
			<a href="/accounts/signup" class="link_404">Signup</a>
			<a href="/accounts/login" class="link_404">Login</a>
			{% endif %}
		</div>
			</div>
			</div>
			</div>
		</div>
	</section>
</div>


</body>
</html>
